<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="../static/InfluencerDashboard.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
              <!-- Nav bar -->
  
    <div class="bg-body-tertiary">
      
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/influencer-page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/influencer-search-campaign">Search campaigns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/influencer_ad_request">Ad requests</a>
        </li>
        <li>
          <form class="logout" action="/logout" method="post">
            <button class="btn btn-dark">Logout</button>
          </form>
        </li>
      </ul>

    </div>

    <br><br>

              <!-- influencer profile -->
    <div class="my-profile-text">
        <h3>My profile</h3>
    </div>

    <br>
    
          <div class="profile-table">
              <table class="table">
                
                <tbody>
                  <tr>
                    <th scope="row">Name</th>
                    <td>{{influencer.name}}</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Industry</th>
                    <td>{{influencer.industry}}</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Followers</th>
                    <td>{{influencer.followers}}</td>
                  </tr>
                </tbody>
              </table>
            </div>


            <!--    Edit profile button   -->
      <div class="edit-profile-div">
        <button type="button" class="btn btn-success edit-profile-button" data-bs-toggle="modal" data-bs-target="#editProfileModal" data-val="{{influencer.name}}#{{influencer.industry}}#{{influencer.followers}}">
          Edit profile
        </button>
      </div>


          <!-- Edit profile Modal -->

<form action="/edit-influencer-profile" method="post">
  <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit profile</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="mb-3">
                  <label for="edit-name" class="form-label">Name</label>
                  <input type="text" class="form-control" name="edit-name" id="edit-name">
              </div>
  
              <div class="mb-3">
                <label for="edit-industry" class="form-label">Industry</label>
                <input type="text" class="form-control" name="edit-industry" id="edit-industry">
            </div>
              
              <div class="mb-3">
                  <label for="edit-followers" class="form-label">followers</label>
                  <input type="text" class="form-control" name="edit-followers" id="edit-followers">
              </div>
              
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>
      

  <script>
    $('#editProfileModal').on("show.bs.modal", function(event){
      var st = $(event.relatedTarget).data('val');
      var values = st.split('#');
      $(this).find('#edit-name').val(values[0]);
      $(this).find('#edit-industry').val(values[1]);
      $(this).find('#edit-followers').val(values[2]);
      
    })
  </script>

  &nbsp;&nbsp;

  
  <table class="table">

    <tbody>
      <div class="current-campaign-text">
      <h4>Current campaigns:</h4>
      </div>

      {% for ad_request in overall_ad_request_list %}

          {% for campaign in overall_campaign_list %}

              {% if ad_request.request_status == 'dashboard' and campaign.id == ad_request.campaign_id %}
        
                <div class="">
                    <tr>
                      <div class="row dashboard_table">
                          <div class="col-sm-6 mb-3 mb-sm-0">
                          <div class="card text-bg-light mb-3">

                              <h5 class="card-header" id="cardTitle">{{campaign.title}}</h5>

                              <div class="card-body">
                                  <p class="card-text">Created by:&nbsp; <strong>{{ad_request.sponsor_name}}</strong></p>
                                  
                                  <p class="card-text">{{campaign.description}}</p>
                                  <p class="card-text">Industry: {{campaign.industry}}</p>
                                  <p class="card-text">Created: {{campaign.start_date.date()}} &nbsp;&nbsp;  Ends at: {{campaign.end_date.date()}}</p>
                              
                                  
                                  <div class="accept-reject-buttons">    
                                      <form action="/update_influencer_ad_request" method="post">
                                          <button type="submit" class="btn btn-primary">Mark as complete</button>
                                          <input type="text" name="message" value="completed" hidden>
                                          <input type="text" name="ad-request-id" value="{{ad_request.id}}" hidden>
                                      </form>
                                  
                                      &nbsp;&nbsp;
                                  </div>    

                              </div>
                          </div>
                          </div>
                      </div>
                    </tr>
                </div>

              {% elif ad_request.request_status == 'completed' and campaign.id == ad_request.campaign_id %}

              <div class="">
                <tr>
                  <div class="row dashboard_table">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                      <div class="card text-bg-light mb-3">

                          <h5 class="card-header" id="cardTitle">{{campaign.title}}</h5>

                          <div class="card-body">
                              <p class="card-text">Created by:&nbsp; <strong>{{ad_request.sponsor_name}}</strong></p>
                              
                              <p class="card-text">{{campaign.description}}</p>
                              <p class="card-text">Industry: {{campaign.industry}}</p>
                              <p class="card-text">Created: {{campaign.start_date.date()}} &nbsp;&nbsp;  Ends at: {{campaign.end_date.date()}}</p>
                              <h5 class="card-text">You receive: Rs.{{ad_request.Negotiation_payment_amount}}</h5>

                              <div class="complete-campaign-message">
                                <p><strong>Congrats, you completed this campaign!</strong></p>
                              </div>
                          </div>
                      </div>
                      </div>
                  </div>
                </tr>
            </div>
                
          {% endif %}
      {% endfor %}

    {% endfor %}

    </tbody>

  </table>
  
</body>
</html>