.cards{
    display: flex;
    justify-content: center;
}

.accept-reject-buttons{
    display: flex;
}

.accepted-text{
    color: green;
}

.rejected-text{
    color: #aa0000;
}

.negotiation{
    margin-top: 3.8%;
}



