.blocks{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.outer-block{
    width:30%;
    border:1px solid black;
    margin: 140px 180px 60px 180px;
}

.inner-block{
    width: 100%;
    padding: 20px;
}

.nav{
    display: flex;
}

.login-register{
    margin-left: 80%;
}