.new-campaign-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.my-campaign-button{
    margin-bottom: 2%;
}

.current-ongoing-campaign{
    margin-bottom: 2%;
}

.navbar-div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form-div{
    justify-content: center; 
}

.card-width{
    justify-content: center;
    align-items: center;
}

.dashboarded-cards{
    display: flex;
    justify-content: center;
}

.campaign-in-progress-text{
    color: green;
    margin-bottom: 1.5%;
}

