.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.navbar-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-allowed-text{
    color: #aa0000;
}

